pyaml
numpy
scipy
pandas
boto3
s3fs
numpy
scikit-learn
wget
xarray
pyshp
geopandas
rioxarray
fsspec
tqdm
netcdf4
h5netcdf
cfgrib
xlrd
pandoc-latex-fontsize
joblib==1.2.0
eofs
jinja2
matplotlib
seaborn
zarr
click